<ion-header>
  <modify-logged-header [title]="view | capitalize:true"></modify-logged-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="chats">
        Chats
      </ion-segment-button>
      <ion-segment-button value="users">
        Users
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div [ngSwitch]="view">

    <ion-list *ngSwitchCase="'chats'" no-lines>
      <button ion-item *ngFor="let chat of chatsLista | async" (click)="openChat(chat.uid)">
        <h2>{{chat.title}}</h2>
        <p *ngIf="chat.lastMessage; else customMessage">{{chat.timestamp | date:'dd/MM/yyyy hh:mm'}} - {{chat.lastMessage}}</p>
        <ng-template #customMessage> 
          <p>No messages</p>
        </ng-template>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'users'" no-lines>
      <button ion-item *ngFor="let user of usersLista | async" (click)="onChatCreate(user)">{{user.nome}}</button>
    </ion-list>

  </div>
</ion-content>